.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    max-width: var(--container);
    width: 100%;
    padding: 1rem;

    a {
        color: unset;
        text-decoration: none;
        transition: .4s;

        &:hover {
            opacity: .8;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;


    cursor: pointer;
}


.homeLink {
    cursor: pointer;
    transition: .4s;

    &:hover {
        opacity: .8;
    }
}