.container {
    max-width: calc(var(--container) - 20rem);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.bioSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem auto 0 auto;
    max-width: 25rem;
}

.avatar {
    border-radius: 100%;
}

.bio {
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
        margin: 0;
    }
}

.postItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;

    transition: 0.4s;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.postList {
    margin-top: 10rem;
    display: flex;
}

.light {
    .postItem {
        border-color: var(--blog-gray);
    }
}